*{
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
  }
  
  .left-section {
    width: 15%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 5px rgb(184, 183, 183);
  }
  
  .login-heading {
    color: #000;
    font-style: italic;
  }
  
  .subheading {
    margin-top: 10px;
  }
  
  .logout-button {
    background-color: rgb(27, 139, 87);
    color: #fff;
    padding: 10px 20px;
  }
  
  .help-desk-text {
    margin-top: 10px;
  }
  
  .right-section {
    width: 85%;
    background-color: #ccc;
    padding: 20px;
  }
  
  .green-text {
    color: rgb(27, 139, 87);
    margin-right: 10%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .upper-subsection {
    display: flex;
    align-items: center;
    background-color: white;
  }
  
  .hospital-name, .date, .rooms {
    color: rgb(27, 139, 87);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .date, .rooms{
    padding-left:10%;
  }
  
  .username {
    color: gray;
    margin-left: 10px;
  }
  
  .room-count {
    color: rgb(27, 139, 87);
  }
  
  .progress-bar {
    display: flex;
    height: 25px;
    border-radius: 25px;
    overflow: hidden;
    width:100%;
    position: relative;
    border: 1px solid rgba(49, 49, 49, 0.781);
  }
  
  .progress {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(49, 49, 49, 0.781);
  }
  
  .received {
    background-color: #fbff00;
    border-right: 0.1px solid black
  }
  
  .negotiating {
    /* background-color: #2196f3; */
    border-right: 0.1px solid black
  }
  
  .completed-filled {
    background-color: #4caf50;
    color: white;
    text-align: left;
  }


  .main-subsection-one, .main-subsection-two{
    background-color: white;
    padding: 2%;
    margin-right: 10%;;
    margin-left: 4%;;
  }

  .main-subsection-two{
    border-radius: 50px;
  }

  .vertical-divider{
    padding-right: 10px;
    margin-right: 10px;
  }

 /* Card.css */

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}

.image-container {
  margin-bottom: 16px;

}

.image-h{
  height: 50%;
  width: 50%;
  justify-content: center;
    align-items: center;
    display: flex;
}

.sub-card {
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
}

.grey-paragraph {
  color: #888;
  font-size: small;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.column {
  flex: 1;
}

.green-button {
  background-color: rgb(27, 139, 87);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.row-card{
  display:flex; 
  flex-direction:row;
}
.card{
  margin-right: 1%;
}

.log-help{
  position: absolute;
  bottom: -10%;
  margin-left: 3%;
  /* align-content: center;
  /* display: flex;  */
  /* align-items: center;  */

}

/*  */

.redbutton{
  /* Rectangle 32 */
  right: 55%;
  top: 60%;
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: #D96A6B;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  
}

.chatimg{
  float: right;
  height: 70px;
  width: 70px;
}